#skills {
    background-color: #fcf9fb0c;
    padding: 60px 20px;
    text-align: center;
    padding:150px;
}

#skills h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0f0d0d;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin: 0.5rem 1rem;
    font-size: 1.1rem;
    
    padding: 10px 20px;
    color: #f7eff50c;
background-color: #e4b6dc0c;
    border-radius: 10px;
}
#skills li img {
    width: 80px; 
    height: 80px; 
    object-fit: contain; 
}